body {
	background-color: rgba(196, 253, 255, 0.3);
}

form {
	text-align: center;
	margin: auto;
	margin-top: 15vh;
}


#takeExamButton{
	background-color: rgba(170, 220, 235, 1);
	border: 2px solid black;
	border-radius: 12px;
	padding: 24px 32px;
	font-size: 36px;
	font-weight: bold;
	margin: 24px;
}

#reviewExamButton{
	background-color: rgba(170, 220, 235, 1);
	border: 2px solid black;
	border-radius: 12px;
	padding: 24px 32px;
	font-size: 36px;
	font-weight: bold;
	margin: 24px;
}